<!doctype html>
<html lang="en">
<head>
  <title>Christmas Movies</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico|Roboto">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <!-- inject:css -->
  <!-- endinject -->

</head>
<body ng-app="xmas-movies" ng-controller="AppController as app" ng-class="{'dialog-active': app.dialog}">
  <header class="page-header">
    <h1 class="page-title">Christmas movie challenge</h1>
    <aside
      class="score"
      ng-click="app.toggle_answers_visibility()"
      ng-cloak
    >
      {{ app.correct_movies.length }}/{{ app.total_movies }}
      <i class="fa fa-film"></i>
    </aside>
  </header>
  <div class="wall">
    <img class="wall-image" src="/images/background.jpg" ng-dblclick="app.toggle_fullscreen_image($event)">
    <div class="answers" ng-show="app.are_answers_shown">
      <div
        ng-repeat="movie in app.correct_movies"
        ng-style="{top: movie.top, left: movie.left, right: movie.right}"
        class="answer-{{ movie.align }}"
      >{{ movie.name }}</div>
    </div>
  </div>
  <form ng-submit="app.guess(app.movie.name)">
    <input
      type="text"
      required
      class="input-seemless"
      placeholder="Enter a movie title"
      autocomplete="off"
      ng-model="app.movie.name"
      lose-focus-on="app.dialog"
    >
  </form>
  
  <div class="portrait-warning">
    <p>Rotate your device</p>
    <p>
      <i class="fa fa-mobile"></i>
    </p>
    <p>for best results</p>
  </div>

  <footer class="footer">
    <span class="footer-item">
      <button type="button" ng-click="app.show_help_dialog()" class="footer-item-action">
         Help
      </button>
    </span>
    <span class="footer-item">
      <button type="button" ng-click="app.toggle_mute()" class="footer-item-action">
        <i
            class="fa"
            ng-class="{'fa-volume-up': !app.is_muted, 'fa-volume-off': app.is_muted}"
        ></i>
      </button>
    </span>
    <span class="footer-item">
      <button class="footer-item-action" type="button" ng-click="app.show_credits_dialog()">
        Credits
      </button>
    </span>
  </footer>

  <aside class="dialog">
    <nav class="dialog-actions">
      <button ng-click="app.close_dialog()">&times;</button>
    </nav>
    <article class="dialog-content">
      <h2>{{ app.dialog.title }}</h2>
      <p>{{ app.dialog.body }}</p>
    </article>
  </aside>
  <!-- inject:js -->
  <!-- endinject -->
</body>
</html>
