@import "variables";
@import "mixins";

$answer-colour: rgba(#222, 0.7);
$answer-size: 32px;
$answer-arrow-size: $answer-size / 2;

%answer {
    background-color: $answer-colour;
    position: absolute;
    padding: 0 $answer-arrow-size / 2;
    font-size: 1.5rem;
    color: #fff;
    line-height: $answer-size;
    font-family: $font-stack-cursive;
    
    @include large-screens {
        font-size: 1rem;
    }
}

.answer-left {
    @extend %answer;
    
    &::before {
        position: absolute;
        width: 0; 
	    height: 0; 
        border-bottom: $answer-arrow-size solid transparent;
        border-top: $answer-arrow-size solid transparent;
        border-right: $answer-arrow-size solid $answer-colour;
        content: '';
        left: -1 * $answer-arrow-size;
    }
}

.answer-right {
    @extend %answer;
    text-align: right;
    
    &::after {
        position: absolute;
        width: 0; 
	    height: 0; 
        border-bottom: $answer-arrow-size solid transparent;
        border-top: $answer-arrow-size solid transparent;
        border-left: $answer-arrow-size solid $answer-colour;
        content: '';
        right: -1 * $answer-arrow-size;
    }
}