@import "mixins";
@import "variables";

.dialog-active {
  overflow: hidden;
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: $colour-black-translucent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transform: translateY(-100%);
  transition: 0.5s transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
  
  .dialog-active & {
    transform: translateY(0);
  }
}

.dialog-actions {
  position: absolute;
  top: 0;
  right: 1rem;

  button {
    @include reset-button;
    color: rgba(white, 0.8);
    font-size: 5rem;
    line-height: 1;
    transition: color 0.2s ease;

    &:hover,
    &:focus {
      color: white;
    }
  }
}

.dialog-content {
  margin: 0 auto;
  width: 90%;
  text-align: center;

  h2 {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }

  @include large-screens {
    width: 50%;
  }
}