@import "mixins";

.footer {
  font-size: 0.75rem;
  margin-top: 1rem;
  text-align: center;
  padding: 0.5rem;
  background-color: #111111;
}

.footer-item {
  display: inline-block;
  border-left: 1px solid #222;

  &:first-child {
    border-left: none;
  }
}

.footer-item-action {
  display: block;
  color: #ccc;
  @include reset-button;
  padding: 0 0.5rem;

  &:hover {
    color: #fff;
  }
}