@mixin large-screens {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin reset-button {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background: transparent;
  -webkit-appearance: none;
  border: none;
  outline: none;
}