@keyframes rotate-phone {
  0% {
    transform: rotateZ(0);
  } 50%, 100% {
    transform: rotateZ(90deg);
  }
}

.portrait-warning {
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
  color: darken(white, 65%);
  display: none;
  
  .fa {
    font-size: 8rem;
    animation: rotate-phone 5s steps(3, end) infinite 2s;
  }
  
  @media screen and (orientation: portrait) {
    display: block;
  }
}
