$font-stack-sans-serif: 'Roboto', sans-serif;
$font-stack-cursive: 'Pacifico', cursive;

$font-size-base-small-devices: 13px;
$font-size-base-large-devices: 16px;

$colour-black-translucent: rgba(black, 0.7);
