@import "ng";
@import "normalize";
@import "reboot";
@import "mixins";
@import "answers";
@import "dialog";
@import "toast";
@import "footer";
@import "variables";

body {
  padding-bottom: 5.75rem;
}

.wall {
  $wall-width: 1600px;
  $wall-height: 881px;

  position: relative;
  width: auto;
  overflow: auto;
  margin: 0 auto;
  height: 100vh;

  @include large-screens {
    overflow: hidden;
    max-width: 1600px;
    padding-bottom: 100% * ($wall-height / $wall-width);
    height: 0;
  }

  %wall-child {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: $wall-width;
    height: $wall-height;

    @include large-screens {
      width: 100%;
      height: 100%;
    }
  }
  .wall-image {
    @extend %wall-child;
    z-index: 1;
  }

  .answers {
    @extend %wall-child;
    background-color: rgba(black, 0.7);
    opacity: 1;
    z-index: 2;

    transition: 0.25s linear opacity;
    &.ng-hide {
      opacity: 0;
    }
  }

}
