body {
  margin: 0;
  background-color: #222;
}

.wall {
  $wall-width: 1600px;
  $wall-height: 700px;

  position: relative;
  width: auto;
  max-width: 1600px;
  height: 0;
  padding-bottom: 100% * ($wall-height / $wall-width);
  overflow: hidden;
  margin: 0 auto;

  .wall-image {
    position: absolute;
    background-color: red;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
}

.input-seemless {
  width: 100%;
  border: 0px;
  font-style: italic;
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  //letter-spacing: .06em;
  text-align: center;
  outline: 0;
  background-color: transparent;
  color: #fff;
}